<div class="data-grid-demo">
  <dx-data-grid [dataSource]="data" [showBorders]="true">
    <dxo-data-grid-editing
      mode="row"
      [allowUpdating]="true"
      [allowAdding]="true"
    >
    </dxo-data-grid-editing>

    <dxi-data-grid-column
      dataField="StateID"
      caption="State"
      [setCellValue]="setStateValue"
      [cellTemplate]="arrayCellTemplate"
      editCellTemplate="stateDropDownBoxTemplate"
    >
      <dxo-data-grid-lookup
        [dataSource]="states"
        displayExpr="Name"
        valueExpr="ID"
      >
      </dxo-data-grid-lookup>
    </dxi-data-grid-column>

    <dxi-data-grid-column
      dataField="CityID"
      caption="City"
      [cellTemplate]="arrayCellTemplate"
      editCellTemplate="cityDropDownBoxTemplate"
    >
      <dxo-data-grid-lookup
        [dataSource]="getFilteredCities"
        displayExpr="Name"
        valueExpr="ID"
      >
      </dxo-data-grid-lookup>
    </dxi-data-grid-column>

    <div *dxTemplate="let cellInfo of 'stateDropDownBoxTemplate'">
      <dx-drop-down-box
        [dataSource]="states"
        [value]="cellInfo.value"
        valueExpr="ID"
        displayExpr="Name"
        contentTemplate="stateContentTemplate"
      >
        <div *dxTemplate="let data of 'stateContentTemplate'">
          <dx-data-grid
            [dataSource]="states"
            keyExpr="ID"
            [selectedRowKeys]="cellInfo.value"
            [hoverStateEnabled]="true"
            [height]="250"
            (onInitialized)="stateDataGrid = $event.component"
          >
            <dxi-data-grid-column dataField="ID"></dxi-data-grid-column>
            <dxi-data-grid-column dataField="Name"></dxi-data-grid-column>
            <dxo-data-grid-selection mode="multiple"></dxo-data-grid-selection>
          </dx-data-grid>
          <dx-button
            text="Apply"
            (onClick)="onClick(stateDataGrid, cellInfo, data.component)"
          >
          </dx-button>
        </div>
      </dx-drop-down-box>
    </div>

    <div *dxTemplate="let cellInfo of 'cityDropDownBoxTemplate'">
      <dx-drop-down-box
        [dataSource]="getCityDropDownDs(cellInfo)"
        [value]="cellInfo.value"
        valueExpr="ID"
        displayExpr="Name"
        contentTemplate="cityContentTemplate"
      >
        <div *dxTemplate="let data of 'cityContentTemplate'">
          <dx-data-grid
            [dataSource]="getCityDropDownDs(cellInfo)"
            [selectedRowKeys]="cellInfo.value"
            [hoverStateEnabled]="true"
            [height]="250"
            (onInitialized)="cityDataGrid = $event.component"
          >
            <dxi-data-grid-column dataField="ID"></dxi-data-grid-column>
            <dxi-data-grid-column dataField="Name"></dxi-data-grid-column>
            <dxo-data-grid-selection mode="multiple"></dxo-data-grid-selection>
          </dx-data-grid>
          <dx-button
            text="Apply"
            (onClick)="onClick(cityDataGrid, cellInfo, data.component)"
          >
          </dx-button>
        </div>
      </dx-drop-down-box>
    </div>
  </dx-data-grid>
</div>
